input {
  text-align: center;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}


.search-box {
  padding: 8px;
}

.search-box input {
  width: 100%;
  margin-bottom: 8px;
  display: block;
}
.search-button {
  margin-right: 8px;
}

i {
  font-size: 25px;
}

.select {
  height: 32px;
  overflow-y: scroll;
}

.posData {
  white-space: nowrap;
}

