.ant-input {
  border: 1px solid #3f87f5;
  border-radius: 5px;
}

.banner {
  text-align: center;
  width: 75vw;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.club-heading {
  font-weight: bold;
  color: #336fcc;
  font-size: 25px;
}
