
.sum-heading {
  border: 1px solid darkblue;
  color: white;
  width: max-content;
  padding: 6px;;
  margin-top: 8px;
}

.overall-heading {

  color: #336fcc;
  font-weight: bold;
  width: max-content;
  padding: 8px;
  margin: 6px;;
}


nz-select {
  text-align: center !important;
}

.ant-select.ant-select-show-arrow.ant-select-single {
  border: 1px solid #3f87f5;
  border-radius: 5px;
}

.ant-select.ant-select-show-arrow.ant-select-single:hover {
  border: 0px;
}

.ant-select.ant-select-show-search.ant-select-multiple {
  border: 1px solid #3f87f5;
  border-radius: 5px;
}

.ant-select.ant-select-show-search.ant-select-multiple:hover {
  border: 0px;
}

