.pill-grading {
  width: max-content;
  padding: 5px;
  text-align: center;
  min-width: 100px;
  border-radius: 14px;
  background: #64b702;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.48);
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}


.darkGreen-pill-grading {
  background: #00af50;
}

.green-pill-grading {
  background: #92d14f;
}

.yellow-pill-grading {
  background: #efd001;
}

.orange-pill-grading {
  background: #fd9c0c;
}

.red-pill-grading {
  background: #fe0000;
}

.grey-pill-grading {
  background: grey;
}


i {
  font-size: 25px;
  cursor: pointer;
}

.overall-pill {
  padding: 10px;
  color: white;
  border-radius: 14px;
  border: 2px solid white;
}

i:active {
  transform: translateY(3px);
}

.disabled {
  cursor: none;
  opacity: .5;
  pointer-events: none;
}
