.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-button {
  margin-right: 8px;
}

i {
  font-size: 25px;
}


//.first_name{
//  width: 10vw;
//}
//.last_name{
//  width: 10vw;
//}
//.username{
//  width: 10vw;
//}
//.email{
//  width: 10vw;
//}
//.actions{
//  width: 10vw;
//}
