.sum-heading {
  border: 1px solid darkblue;
  background: darkblue;
  color: white;
  width: max-content;
  padding: 6px;;
}

.overall-heading {
  border: 1px solid darkblue;
  background: rgb(113, 192, 248);
  color: white;
  width: max-content;
  padding: 8px;
  margin: 6px;;
}
