.sum-heading {
  border: 1px solid darkblue;
  background: darkblue;
  color: white;
  width: max-content;
  padding: 6px;;
  margin-top: 8px;
}

.overall-heading {
  border: 1px solid darkblue;
  background: rgb(113, 192, 248);
  color: white;
  width: max-content;
  padding: 8px;
  margin: 6px;;
}

h5 {
  font-weight: bold;
  font-size: 16px;
}

nz-select {
  text-align: center !important;
}

.ant-select.ant-select-show-arrow.ant-select-single {
  border: 1px solid #3f87f5;
  border-radius: 5px;
}

.ant-select.ant-select-show-arrow.ant-select-single:hover {
  border: 0px;
}
