.container-noList {
  height: 27vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(63, 135, 245, 0.53);
}

.container-list {
  height: 27vh;
  background: white;
  border: 1px solid rgba(63, 135, 245, 0.53);
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}


