.container-noList {
  height: 30vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(63, 135, 245, 0.53);
}

.container-list {
  height: 30vh;
  background: white;
  border: 1px solid rgba(63, 135, 245, 0.53);
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.ant-select.ant-select-show-arrow.ant-select-single {
  border: 1px solid #3f87f5;
  border-radius: 5px;
}

h2 {
  font-weight: bold;
  background: #336fcc;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  width: 500px;
  box-shadow: 0 2px 15px #000000;
}
