@import url("./assets/lib/hljs/styles/atom-one-light.css");
@import url("../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$primary-color: #3f87f5;

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-checkbox {
  border: 1px solid rgba(63, 135, 245, 0.51);
  border-radius: 5px;
}

.pill {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 14px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.48);
  font-size: 22px;
  cursor: pointer;
}

.background-primary {
  background: rgba(63, 135, 245, 0.53);
  color: white;
}

.background-white {
  background: white;
}

.vibrate:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  20% {
    transform: translate(-1px, 0px);
  }
  30% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  70% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(1px, -1px);
  }
}

.ant-card-head, .ant-table-fixed-header .ant-table-thead > tr > th, .ant-table-column-sorter, .ant-table-column-sorters:hover .ant-table-column-sorter, .ant-table-thead > tr > th {
  background: $primary-color !important;
  color: white;
  transition: none;

}

.stripes {
  background: rgba(63, 135, 245, 0.1);
}

.ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active {
  color: black;
}
