@import url('./assets/lib/hljs/styles/atom-one-light.css');
@import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './assets/scss/app.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.text-align-center {
  text-align: center !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-checkbox {
  border: 1px solid rgba(63, 135, 245, 0.51);
  border-radius: 5px;
}

.pill {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 14px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.48);
  font-size: 22px;
}

.background-primary {
  background: rgba(63, 135, 245, 0.53);
  color: white;
}

.background-white {
  background: white;
}
